@font-face {
  font-family: my-font;
  src: url(../fonts/PatrickHandSC-Regular.ttf);
}

body {
  background-color: #aaa;
  color: #333;
  font-family: my-font;
  /*font-family: "Vivaldi", "Verdana";*/
  font-size: 19px;
  padding: 5px 15px 5px 15px;
}

figure {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  figure {
    width: 77px;
  }
}

@media screen and (min-width: 768px) {
  figure {
    width: 118px;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size: 28px;
    padding: 8px 28px 8px 28px;
  }
  
  figure {
    width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  figure {
    width: 250px;
  }
}

img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p {
  text-align: justify;
}

audio,
video {
  width: 100%;
}


/* .my-navbar {
  background-color: #333;
  font-weight: bold;
} */

.me {
  margin-top: 28px;
  margin-bottom: 40px;
}

iframe {
  width: 100%;
}