.people {
    overflow: auto;
    padding: 19px 19px 28px 19px;
    margin: 19px 0 19px 0;
}

.name {
    width: 28%;
    float: left;
    padding-right: 9px;
}

.biography {
    width: 72%;
    float: left;
    padding-left: 9px;
}

.name>h2 {
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
}

@media screen and (min-width: 576px) {
    .name>h2 {
        font-size: 19px;
    }
}

@media screen and (min-width: 768px) {
    .name>h2 {
        font-size: 23px;
    }
}

@media screen and (min-width: 992px) {
    .name>h2 {
        font-size: 28px;
    }
}

.name>h2>a,
.name>a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin-bottom: 19px;
}


/*	People images 	*/

#img-me {
    content: url("../img/Me-small.png");
}

#img-bohlen {
    content: url("../img/Bohlen-small.png");
}

#img-ma {
    content: url("../img/Ma-small.png");
}

#img-nguyen {
    content: url("../img/Nguyen-small.png");
}

#img-inamori {
    content: url("../img/Inamori-small.jpg");
}

@media screen and (min-width: 576px) {
    #img-me {
        content: url("../img/Me.jpg");
    }
    #img-bohlen {
        content: url("../img/Bohlen.jpg");
    }
    #img-ma {
        content: url("../img/Ma.jpg");
    }
    #img-nguyen {
        content: url("../img/Nguyen.jpg");
    }
    #img-inamori {
        content: url("../img/Inamori.jpg");
    }
}


/*	Color and background-color for people I admire 	*/

#bohlen {
    background-color: #007bff;
    color: #fff;
}

#ma {
    background-color: #ffc107;
    color: #000;
}

#nguyen {
    background-color: #dc3545;
    color: #fff;
}

#inamori {
    background-color: #fff;
    color: #000;
}

#inamori>.name {
    color: #dc3545;
}


/*	Color of figure borders 	*/

#bohlen>.name>figure {
    border-color: #036;
}

#nguyen>.name>figure {
    border-color: #fff;
}

#ma>.name>figure,
#inamori>.name>figure {
    border-color: #000;
}


/*	On hover over names	*/

#bohlen>.name>h2>a:hover {
    color: #007bff;
    background-color: #fff;
}

#ma>.name>h2>a:hover {
    color: #ffc107;
    background-color: #000;
}

#nguyen>.name>h2>a:hover {
    color: #dc3545;
    background-color: #fff;
}

#inamori>.name>h2>a:hover {
    color: #fff;
    background-color: #dc3545;
}


#top {
    margin-top: 40px;
}


.div-button-people-list {
    display: flex;
    flex-wrap: wrap;
}


.div-button-people {
    margin-right: 28px;
    margin-bottom: 19px;
}


.div-button-people > button, .div-button-people > a {
    margin-bottom: 9px;
}