table {
    border: 1px solid #333;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #333;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #333;
    color: #aaa;
    border-right-color: #aaa;
}

th:last-child {
    border-right-color: #333;
}

tr.even {
    background-color: #777;
    color: #000;
}

tbody>tr:nth-child(4) {
    border-top: 5px solid #333;
}

td:first-child {
    text-align: left;
}

td:nth-child(2) {
    font-style: italic;
}

tr:hover {
    background-color: #4286f4;
    color: #ccdfff;
}

#my-td {
    border: 2px solid #333;
    margin: 28px 0 28px 0;
    height: 100px;
    padding: 28px;
    font-size: 28px;
}

.my-td-span {
    background-color: orange;
    color: inherit;
    font-weight: bold;
    padding: 19px;
}

.highlighted {
    background-color: red;
    color: white;
    font-weight: bold;
}

.my-header {
    background-color: #333;
    color: #aaa;
    font-size: 12px;
    font-weight: bold;
}

.my-content {
    margin-top: 3px;
}

.my-header,
.my-content {
    border: 1px solid #333;
    padding: 5px;
}

.my-study {
    margin: 10px 0 10px 0;
}

.my-study-open,
.my-study-close {
    margin-right: 10px;
}

@media screen and (min-width: 576px) {
    .my-study-open,
    .my-study-close {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .my-study-detail-hidden {
        display: none;
    }
}